*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#007bef;
}
.wrapper{
    width: 40%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #007bef;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    width: 100%;
    background: #ffffff;
    margin: 20px 0px;
    border-radius: 10px;
    
}
.heading{
    width: 100%;
    font-size: 17px;
    height: 40px;
    border-radius: 10px;
    /* border: 2px solid red; */
    padding: 20px;
    /* color: #000000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
.content{
    display: none;
    padding: 20px;
}
.plus{
    cursor: pointer;
}
.cross{
    display: none;
    cursor: pointer;
}