*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 165);
}
#div1{
    width: 30%;
    height: 20%;
    background-color: teal;
}